body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-detail img {
    width: 250px;
}

.animal-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}